@model NewsAPI.Models.ArticlesResult
@{
    ViewData["Title"] = "Home Page";
}
<section class="headline">
    <div class="row">
        <div class="col-8">
            <h1>Headlines</h1>
        </div>
        <div class="col-4" style="background-color: blue;">
            <h1>Top stories</h1>
        </div>
    </div>
    <br />
    <hr />


</section>